@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1920px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: #000000;
    margin: 0px 0px 10px;
    position: relative;
}

.section-title h1:before{
    content:'';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #e88888;
    bottom: 0px;
}

.text-center{
    text-align: center!important;
}

.text-left{
    text-align: left!important;
}

.text-right{
    text-align: right!important;
}





/*Header */

header{
    position: absolute;
    left: 0px;
    right: 0px;
    
    padding: 0px 15px;
    z-index: 11;
}

header.fixed{
    background-color: black;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader 0.5s ease;
    z-index: 100;
}

@keyframes fixHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name {
    display: flex;
    align-items: center;
}

header .brand-name img{
    width: 45px;
    color: #ffffff;
    position: relative;
    margin: 10px;
}

header .brand-name h2{
    max-width: 25px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    color: white;
}


header.fixed .brand-name a{
    color: #000000;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin:0;
    
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: white;
    display: block;
    font-weight: 600;
    position: relative;
}

header.fixed .navbar ul li a{
    color: white;
}

header .navbar ul li a::before{
    content:'';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header.fixed .navbar ul li a::before{
    background-color: #e88888;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}





/*Home */

.home{
    min-height: 100vh;
    background-image: url("../img/Header/background_flip.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h1{
    color: #ffffff;
    font-size: 90px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s;
}

.home .home-content .block h3{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    animation: fadeIn 3s;
}


.home .home-content .block .cv-btn {
    padding-top: 20px;
    animation: fadeIn 3s;
}

.home .home-content .block .cv-btn a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
}

.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}

@keyframes fadeIn {
    from {
        opacity:0;
        transform: translateX(-50px);

    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}









/*A propos de moi */

.about-me{
    padding: 100px 15px; 
    background-color: #ffffff;
}

.text-uppercase{
    text-transform: uppercase!important;
}

.about-me .section-title p.small{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content {
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me .about-content .texte{
    display: flex;
    align-self: center;
    margin-bottom: 50px;
    max-width: 75%;
    text-align: center;
    color: #1e4847;
}

.about-me .about-content .description{
    display: flex;
    justify-content: center;
}

.about-me .about-content .description iframe{
  width: 854px;
  height: 480px;
  display: inline-block;
  border: 20px solid black;
  border-radius: 20px;
}

.about-me .about-content .player{
    display: none;
}

.about-me .about-content h4{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 5px;
    color: #000000;
}

.about-me .about-content h6{
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000000;
}

.about-me .about-content .social-links{
    padding-top: 30px;
    display: flex;
    width: 20%;
    margin: auto;
}

.about-me .about-content .social-links a{
    height: 50px;
    width: 50px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .social-links a:hover{
    background-color: transparent;
}


.about-me .about-content .social-links a .fa{
    color: #ffffff;
    font-size: 25px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}

.about-me .about-content .social-links a:hover .fa{
    color: #000000;
}








/*Mon parcours */

.parcours {
    background-color: #ffbbba;
    padding: 100px 0px 70px;
}

.parcours .section-title h1:before{
    left: 30%;
}

.parcours .parcours-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.parcours .parcours-content .box{
    background-color: #ffffff;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 3px;
}

.parcours .parcours-content .box::before{
    content:'';
    height: 2px;
    background-color: #1e4847;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.parcours .parcours-content .box:hover::before{
    width: 60%;

}

.parcours .parcours-content .box .icon{
    height: 70px;
    width: 70px;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}

.parcours .parcours-content .box .icon img{

    height: 70px;
    width: 70px;
}


.parcours .parcours-content .box .icon .fa{
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
}

.parcours .parcours-content .box h5{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.parcours .parcours-content .box h4{
    font-size: 15px;
    font-weight: 400;
    color: #1e4847;
    margin: 0;
}

.parcours .parcours-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 10px;
}
    



/*Compétences */

.competences {
    padding: 20px 15px; 
    background-color: #ffffff;
}

.competences .competences-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}

.competences .img{
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 100px;
}

.align-items-center{
    align-items: center;
}

.competences .img img{
    width: 80%;
    display: block;
}

.competences .competences-content .section-title p{
font-size: 15px;
font-weight: 400;
line-height: 24px;
color: #838383;
margin: 15px 0 0px;
}

.competences .competences-content .competences-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.competences .competences-content .competences-box h6{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;
}

.competences .competences-content .competences-box .competence-bar{
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}

.competences .competences-content .competences-box .competence-bar .competence-bar-in{
    background-color: #1e4847;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.competences .competences-content .competences-box .competence-bar .competence-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}





/*Portfolio */

.portfolio{
    background-color: #f5f8fd;
    padding: 100px 7px;
}

.portfolio .section-title h1:before{
    left: 30%;
}

.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio .filter-buttons ul li{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active{
    color: #1e4847;
    border-bottom: 2px solid #1e4847;
}

.portfolio .filter-buttons {
    margin-bottom: 30px;
}

.portfolio .portfolio-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.portfolio .portfolio-gallery .item .inner{
    position: relative;
}

.portfolio .portfolio-gallery .item img{
    width: 100%;
    display: block;
}

.portfolio .portfolio-gallery .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay{
    opacity: 1;
}

.portfolio .portfolio-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    background-color: #e88888;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.portfolio .portfolio-gallery .item:hover .overlay .fa{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}

@keyframes galleryIcon{
    0%{
        transform: translateY(-20px); opacity:0;
    }
    100%{
        transform: translateY(0); opacity: 1;
    }
}

.portfolio .portfolio-gallery .item .overlay h4{
    margin-top: 15px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}


.portfolio .portfolio-gallery .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

@keyframes galleryText{
    0%{
        transform: translateY(20px); opacity:0;
    }
    100%{
        transform: translateY(0); opacity: 1;
    }
}



/*Lightbox */

.lightbox{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.lightbox.show{
    display: flex;
}

.lightbox.hide{
    display: none;
}

.lightbox .close-lightbox{
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    color: red;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
    border-radius: 50px;
    z-index: 101;
}

.lightbox iframe{
    max-width: 90%;
    max-height: 80%;
    display: block;
}





/*Contact */

.contact-us{
    padding: 100px 15px; 
    background-color: #f5f8fd;
}

.contact-us .section-title h1:before{
    left: 30%;
}

.contact-us .contact-form{
    background-color: #ffffff;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

.contact-us .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.contact-us .contact-form .text h2{
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}

.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 10px;
}

.contact-us .contact-form .space-between{
    justify-content: space-between;
}

.contact-us .contact-form .col-6{
   flex: 0 0 calc(50% - 15px); 
   max-width: calc(50% - 15px);
}

.contact-us .contact-form .col-12{
    flex: 0 0 100%; 
    max-width: 100%;
}

.contact-us .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.contact-us .contact-form textarea.form-control{
    height: 140px;
}

.contact-us .contact-form .form-control::placeholder{
    color: #838383;
}

.contact-us .contact-form .button{
    flex: 0 0 100%;
    max-width: 100%;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    padding: 15px 15px 15px 15px;
}

.contact-us .contact-form .button a{
    
}

.contact-us .contact-form .button a:hover{
    background-color: #000000;
    color: #ffffff;
}




/*Footer */

footer{
    padding: 70px 15px;
    background-color: #0c0c17;
}

footer .logo{
    display: flex;
    margin: auto;
    justify-content: center;
}

footer .logo img{
    width: 25%;
}

.copyright{
    background-color: #0c0c17;
    border-top: 0.3px solid #1d1d27;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.copyright a{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.ham-burger .fa{
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeeeee;
}

.brand-name-fixed{
    display: none;
}

@media(max-width: 1262px){
    /* Si la fenêtre est plus petite ou égale à 1260px, alors... */
    .home .home-content .block h1{
        font-size: 80px;
    }

    .home .home-content .block h3{
        font-size: 40px;
    }
}

@media(max-width: 1133px){
    /* Si la fenêtre est plus petite ou égale à 1260px, alors... */
    .home .home-content .block h1{
        font-size: 65px;
    }

    .home .home-content .block h3{
        font-size: 30px;
    }
}



@media(max-width: 800px){
    /* Si la fenêtre est plus petite ou égale à 800px, alors... */
    .home .home-content .block h1{
        width: 100%;
        font-size: 65px;
        text-align: center;
    }
    .home .home-content .block h3{
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .home .home-content .block .cv-btn{
        text-align: center;
    }

    .home .home-content .block{
        border-left: none;
        padding-left: 0px;
        max-width: 100%;
        margin: auto;
    }

    header{
        padding: 15px;
        position: fixed;
        background-color: #ffffff;
        border: none;
        border-bottom: 1px solid #eeeeee;
    }
    header .brand-name a{
        color: #000000;
    }

    header .brand-name {
        display: none;
    } 

    .ham-burger{
        padding-left: 15px;
        width: 100%;
    }

   .ham-burger .fa{
        display: inline-block;
    }
    .navbar{
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        left: 0px;
        top: 60px;
        padding: 5px;
        border-top: 1px solid #eeeeee;
        display: none;
        border-bottom: 1px solid #eeeeee;
    }

    .navbar.show{
        display: block;
    }

    header .navbar ul li {
        display: block;
        text-align: left;
        color: black;
    }

    header .navbar ul li a{
        line-height: 42px;
        color: #000000;
    }

    header .navbar ul li a::before{
        background-color: #5CB5C3;;
    }

    .about-me .about-content .text{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }

    .about-me .about-content .illustration{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .parcours .parcours-content .box{
        background-color: #ffffff;
        padding: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .competences .competences-content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 40px;
    }

    .competences .img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio .portfolio-gallery .item {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }

    .contact-us .contact-form{
        padding: 40px 20px;
    }

    .contact-us .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .brand-name {
        display: none;
    }

    .about-me .about-content .text .description{
        max-width: 90%;
        margin: auto;
        padding-top: 30px;
    }

    .about-me .about-content .text .description p{
        font-size: 20px;
    }

    .about-me .about-content .description iframe{
        width: 640px;
        height: 360px;
    }
    
    .about-me .about-content .social-links {
        width: 30%;
    }


}

@media(max-width: 500px){
    .home .home-content .block h1{
        width: 100%;
        font-size: 45px;
        text-align: center;
    }
    .home .home-content .block h3{
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .home .home-content .block{
        border-left: none;
        padding-left: 0px;
        max-width: 100%;
        margin: auto;
    }

    .home .home-content .block .cv-btn{
        text-align: center;
    }

    .portfolio .portfolio-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }

    .about-me .about-content .text .info{
        display: inline-block;
    }

    .about-me .about-content .text p{
        font-size: 19px;
        line-height: 30px;
    }

    .about-me .about-content .description iframe{
        width: 426px;
        height: 240px;
    }

    .about-me .about-content .social-links {
        width: 40%;
    }

}


@media(max-width: 375px){
    .about-me .about-content .description iframe{
        display: none;
    }

    .about-me .about-content .player{
        display: flex;
        justify-content: center;
    }

    .about-me .about-content .player img{
        width: 200px;
        height: 200px;
    }

    .about-me .about-content .social-links {
        width: 50%;
    }


}

.status {
    font-size: 15px;
    color: green; 
    padding: 15px; 
}

.status span {
    color : red;
}